.about {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.about img {
  flex: 1 1 30%;
  width: clamp(400px, 30vw, 600px);
  border: 15px solid black;
}

.text {
  flex: 1 1 40%;
  padding: 20px;
}

.text h1 {
    font-size: clamp(1rem, 5dvw, 10dvw);
  margin-bottom: 10px;
}

.description {
    width: clamp(400px, 95%, 1400px);
    margin: 0 auto;
}

@media (max-width: 768px) {
    .text h1 {
        font-size: clamp(3rem, 4rem, 10dvw);
        margin: 1rem 0;
    }
}