.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-page a {
    font-weight: 400;
    font-size: var(--font-size-medium);
    font-style: italic;
}

.contact-page img, .contact-image {
    width: clamp(100px, 100px, 600px);
    height: auto;
    display: flex;
    margin: 0 auto;
}

.contact-image .blob-background {
    mask-image: url('src/assets/RDS_Nav.svg');
    -webkit-mask-image: url('src/assets/RDS_Nav.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    /* mask-size: 300px 300px;
    -webkit-mask-size: 300px 300px; */
  }

.contact-image {
    position: relative;
}

form button {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 2rem auto;
}

input, textarea, select {
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    font-family:  avenir-next-lt-pro-condensed;
    font-size: var(--font-size-medium);
    font-style: italic;
}

textarea {
    border: 2px solid black;
}

input, select {
    border: none;
    border-bottom: 2px solid black;
}

textarea {
    height: 150px;
    resize: vertical;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--blue);
}