nav {
    width: 100dvw;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 2%;
    justify-content: space-between;
}

nav::before {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    z-index: -1;
    pointer-events: none;
}

nav, .nav-right ul {
    display: flex;
    align-items: center;
}

a.active {
    position: relative;
}

a.active::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 5px;
    background: var(--blue);
    border-radius: 1px;
}

.nav-logo img {
    height: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}

.dropdown span {
    cursor: pointer;
}

.dropdown-menu, .dropdown-menu li {
    display: none;
}

/* Desktop hover menu */
@media (min-width: 769px) {
  .dropdown:hover .dropdown-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: black;
      color: white;
      padding: 0.25rem .5rem;
      z-index: 999;
      border-radius: 0.5rem;
      min-width: 150px;
  }

  .dropdown:hover .dropdown-menu li {
      display: block;
  }

  .dropdown:hover .dropdown-menu {
      cursor: pointer;
  }
  .dropdown-menu a:hover {
      background-color: var(--blue);
      color: black;
        padding: 0 .25rem;
      border-radius: 4px;
  }
}


@media (max-width: 768px) {
    .nav-right.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
    }

    .nav-right.open ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        right: 0;
        color: white;
    }

    .nav-right ul {
        display: none;
    }

    .nav-right ul li {
        font-size: 4rem;
        margin: 0;
        padding: 10px 0;
        text-align: left;
    }

    a.active::before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 110%;
        height: 10px;
        background: var(--blue);
        border-radius: 1px;
    }

    .hamburger {
        display: block;
    }

    .bar {
        display: block;
        width: 40px;
        height: 8px;
        background-color: black;
        margin: 5px auto;
        transition: all 0.3s ease;
    }

    .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 8px;
        background-color: var(--blue);
    }

    .close.left {
        transform: rotate(45deg);
        top: 30px;
    }
    .close.right {
        transform: rotate(-45deg);
        top: 30px;
    }

    .mobile-menu-gradient {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        pointer-events: none;
        overflow: hidden;
    }

    .mobile-menu-gradient .blob {
        filter: blur(40px);
    }

    .dropdown {
        width: 100%;
        margin: 0;
    }

    .dropdown span {
        font-size: 4rem;
        padding: 10px 0;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: row;
        padding-left: 2rem;

    }

    .dropdown.always-open .dropdown-menu {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        padding: 0;
        color: inherit;
        gap: 0.5rem;
      }
    
      .dropdown.always-open .dropdown-menu li {
        display: block;
        position: relative;
        padding: 0;
        margin-top: -2rem;
      }
    
      .dropdown.always-open .dropdown-menu a {
        font-size: 2rem;
        color: var(--blue);
        padding: 0rem .5rem;
      }

      .dropdown.always-open .dropdown-menu a.active::before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;
            height: 5px;
            background: white;
            border-radius: 1px;
      }
    }
