nav {
    width: 100dvw;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 2%;
    overflow: hidden;
    justify-content: space-between;
  }
  
  nav::before {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    z-index: -1;
    pointer-events: none;
  }
  

nav, .nav-right ul{
    display: flex;
    align-items: center;
}

a.active {
    position: relative;
  }
  
  a.active::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 5px;
    background: var(--blue);
    border-radius: 1px;
  }

.nav-logo img{
    height: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-right.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
    }

    .nav-right.open ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        right: 0;
        color: white;
    }

    .nav-right ul {
        display: none;
    }

    .nav-right ul li {
        font-size: 4rem;
        margin: 0;
        padding: 10px 0;
        text-align: left;
    }

    a.active::before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 110%;
        height: 10px;
        background: var(--blue);
        border-radius: 1px;
    }

    .hamburger {
        display: block;
    }

    .bar {
        display: block;
        width: 40px;
        height: 8px;
        background-color: black;
        margin: 5px auto;
        transition: all 0.3s ease;
    }

    .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 8px;
        background-color: var(--blue);
    }

    .close.left {
        transform: rotate(45deg);
        top: 30px;
    }
    .close.right {
        transform: rotate(-45deg);
        top: 30px;
    }
    
    .mobile-menu-gradient{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        pointer-events: none;
        overflow: hidden;
    }

    .mobile-menu-gradient .blob {
        filter: blur(40px);
    }
}  
