.flex.about {
    align-items: flex-start;
}

.flex.about p {
    flex: 3;
    margin: 55px 1rem;
    min-width: 450px;
}

.about p {
    margin: 55px 0;
}

.package-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.brand .card-content {
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
