@font-face {
    font-family: 'Dimensions';
    src: url('/fonts/Dimensions700.ttf') format('ttf'),
         url('/fonts/Dimensions700.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }